<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text ="Regresar" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mis datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre: Usuario Ejemplo</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Email: ejemplo&#64;mail.com</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" routerLink="/menu">Ir al Menú</ion-button>
</ion-content>

