<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Proyectos de Retail Off</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>Proyecto 1</ion-item>
      <ion-item>Proyecto 2</ion-item>
      <ion-item>Proyecto 3</ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" routerLink="/login">Iniciar Sesión</ion-button>
  <ion-button expand="full" color="secondary" routerLink="/register">Registrarse</ion-button>
</ion-content>
